:root {
  /* Spacing */
  --spacing-8px: 0.5rem;
  --spacing-12px: 0.75rem;
  --spacing-14px: 0.875rem;
  --spacing-16px: 1rem;
  --spacing-18px: 1.125rem;
  --spacing-20px: 1.25rem;
  --spacing-24px: 1.5rem;
  --spacing-32px: 2rem;
  --spacing-40px: 2.5rem;
  --spacing-48px: 3rem;
  --spacing-56px: 3.5rem;
  --spacing-60px: 3.75rem;
  --spacing-64px: 4rem;

  /* Typography */
  --typo-8px: 0.5rem;
  --typo-12px: 0.75rem;
  --typo-14px: 0.875rem;
  --typo-16px: 1rem;
  --typo-18px: 1.125rem;
  --typo-20px: 1.25rem;
  --typo-22px: 1.375rem;
  --typo-24px: 1.5rem;
  --typo-32px: 2rem;
  --typo-40px: 2.5rem;
  --typo-48px: 3rem;
  --typo-56px: 3.5rem;
  --typo-60px: 3.75rem;
  --typo-64px: 4rem;

  /* border radius */
  --border-radius-8px: 0.5rem;
  --border-radius-16px: 1rem;
  --border-radius-24px: 1.5rem;
  --border-radius-32px: 2rem;
  --border-radius-40px: 2.5rem;
  --border-radius-48px: 3rem;

  /* Colors */
  --primary-color: #820300;
  --white: #ffffff;
  --black: #000000;
  --box-border-color: #ddd;
  --logo-slide-bg-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #ffffff;
}

/*------------------ Common Styles ------------------- */

.h-flex {
  display: flex;
  flex-direction: row;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.h-padding {
  padding: var(--spacing-12px) var(--spacing-60px);
}

.h-container {
  display: inline-flex;
  flex-direction: row;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 6px;
}

.secondary-btn {
  background-color: var(--white);
  color: var(--primary-color);
  border-radius: 6px;
}
.v-text-wrapper-8px {
  display: inline-flex;
  flex-direction: column;
  gap: var(--spacing-8px);
}

section {
  height: calc(100vh - 58px);
  align-content: center;
}

.sub-special-heading {
  font-size: var(--typo-20px);
  line-height: calc(var(--typo-20px) * 1.4);
  color: var(--primary-color);
}

/*------------------ Header Section ------------------- */

header {
  background: grey;
  position: sticky;
  top: 0;
  z-index: 999;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
  font-size: var(--typo-16px);
  padding: var(--spacing-8px) var(--spacing-14px);
}

.menu-list {
  display: flex;
  gap: 1rem;
}

nav,
.logo,
.nav-container {
  align-items: center;
}

.nav-container {
  justify-content: space-between;
}

.list-item:hover a {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: var(--border-radius-8px);
}

.nav-cta {
  padding: var(--spacing-8px) var(--spacing-16px);
  border: 1px solid var(--black);
  font-size: var(--typo-14px);
  cursor: pointer;
}

/*------------------ Hero Section ------------------- */

.hero-section {
  gap: var(--spacing-32px);
}

.hero-top-wrapper {
  width: 100%;
  justify-content: space-between;
}

.eyebrow-txt {
  font-size: var(--typo-14px);
  color: var(--primary-color);
  font-weight: 600;
}

.hero-heading {
  font-size: var(--typo-48px);
  line-height: calc(var(--typo-48px) * 1.2);
  font-weight: 700;
}

.hero-text {
  font-size: var(--typo-16px);
  line-height: calc(var(--typo-16px) * 1.4);
}

.left-wrapper,
.right-wrapper {
  justify-content: center;
  width: 50%;
}

.left-wrapper {
  align-content: center;
  gap: var(--spacing-16px);
}

.hero-btn-wrapper {
  display: inline-flex;
}

.hero-btn {
  padding: var(--spacing-12px) var(--spacing-16px);
  border: none;
  cursor: pointer;
}

.hero-img {
  border-radius: var(--spacing-32px);
  object-fit: cover;
}

.hero-img-wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 0;
}

.hb-container {
  align-items: center;
  gap: var(--spacing-16px);
  border-radius: var(--border-radius-8px);
  border: 1px solid var(--box-border-color);
  padding: var(--spacing-16px) var(--spacing-32px);
  background-color: var(--logo-slide-bg-color);
  overflow-x: hidden;
}

.logo-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.logo-track {
  display: flex;
  width: calc(100% * 2); /* Double the width to accommodate two sets of logos */
  animation: marquee 20s linear infinite;
}

.logo-group {
  display: flex;
  justify-content: space-around;
  width: 50%; /* Each group takes up half of the track */
  flex-shrink: 0; /* Prevent shrinking */
}

.logo-track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.client-logo {
  flex-shrink: 0;
  margin: 0 20px;
}

/*------------------ Overview Section ------------------- */

.overview-wrapper {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}

.overview-wrapper img {
  border-radius: var(--border-radius-16px);
}

.overview-card {
  position: absolute;
  left: 55%;
  right: 4%;
  gap: var(--spacing-32px);
  background-color: var(--white);
  padding: 3.8rem 3.5rem;
  border-radius: var(--border-radius-8px);
  border: 1px solid var(--box-border-color);
  box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
}

.overview-btn-wrapper {
  gap: var(--spacing-16px);
}

.overview-btn {
  padding: var(--spacing-14px) var(--spacing-18px);
  border: 1px solid var(--primary-color);
}
