RewriteEngine On
# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect www to non-www
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]


# Redirect clean URLs to HTML files
RewriteRule ^aboutus$ pages/about.html [L]
RewriteRule ^contactus$ pages/contact.html [L]
RewriteRule ^contentmanagement$ pages/content.html [L]
RewriteRule ^searchenginemarketing$ pages/sem.html [L]
RewriteRule ^searchengineoptimisation$ pages/seo.html [L]
RewriteRule ^socialmediamanagement$ pages/social.html [L]
# Add more rules as needed for other pages
